#nav-placeholder {
    z-index: 1000;
}
.box{
    display: flex;
    width: 100%;
    height: 100%;
}

.action-record button{
    margin-top: 124px;
    margin-left : 52px;
    width : 290px;
    height : 75px;
    background-color: #1C0303;
    color : #FFDFDF;
    font-weight: 400;
    font-size: 30px;
    border-radius: 40px;
}

.show-record button{
    margin-top: 124px;
    margin-left : 50px;
    width : 290px;
    height : 75px;
    background-color: #1C0303;
    color : #FFDFDF;
    font-weight: 400;
    font-size: 30px;
    border-radius: 40px;

}
.wrapper button {
  /* 버튼 기본 스타일 초기화 */
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.wrapper {
  position: absolute;
  width: 900px;  
  height: 800px;  
  top: 30%;
  left: 35%;
}

.wrapper .nav {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: space-between;
}

.wrapper .nav .current-date {
  font-size: 96px;  
  font-weight: 600;
}

.wrapper .nav button {
  width: 38px; 
  height: 38px; 
  font-size: 64px; 
  font-weight: 600;
  color: #1C0303;
}

.calendar ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 80px;
  list-style: none;
  text-align: center;
  height: auto;  
  margin-bottom: 30px;  
}
.calendar .weeks{
  
  display: grid;
  grid-template-columns: repeat(7, 1fr);  
  width : 100%;
}

.calendar .weeks li {
  font-weight: 600;
  font-size: 32px; 
  margin-right: 0px;
}

.calendar .days {
  width : 100%;
  font-size: 28px;
  font-weight: 400;
}

.calendar ul li {
  position: relative;
  width: calc(100%/7);  
  box-sizing: border-box;
  text-align: center;
}

.calendar .days li {
  z-index: 1;
  margin-top: 30px; 
  margin-right: 1px;
  cursor: pointer;
}

/* 비활성화된 날짜 스타일 */
.days li.inactive {
  color: #aaa;
}

.days li.active {
  color: #fff;
}

.calendar .days li::before {
  position: absolute;
  content: '';
  height: 60px;  
  width: 60px;  
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
}

.days li:hover::before {
  background: #3B1E1E;
  opacity: 30%;
}


.btn1:hover, .btn2:hover, .action-record button:hover, .show-record button:hover {
  background-color: #4A0A0A;
}
